@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Praise&display=swap');

* {
  box-sizing: border-box;
  outline: 0;
}

body {  
  margin: 0;
  padding: 0;
  font-family: "Open sans", sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;
}

.container {
  border: 1px solid rgb(209, 162, 3);
  max-width: 400px;
  margin: 50px auto;
  background: #fff;
  padding: 20px;
  border-radius: 10px;

}

h1{
  text-align: center;
}

form input,
form label,
form button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

form input {
  border: none;
  border-bottom: 2px solid rgb(209, 162, 3);
  font-size: 24px;
  height: 20px;
  padding: 0 20px;
}

input:hover{
  border-bottom: 2px solid rgb(71, 59, 17);
}

form button {
  border: none;
  background: rgb(209, 162, 32);
  color: rgb(0, 0, 0);
  font-size: 18px;
  font-weight: 700;
  height: 50px;
  cursor: pointer;
  margin-top: 30px;
}

form button:hover {
  border: 2px solid rgb(71, 59, 17);
  color: #fff;
}

.error-text {
  font-size: 12px;
  color: rgb(209, 82, 32);
}
